#gameArea {
	padding-top: 25px;
	margin-bottom: 30px;
}

#gameArea span {
	font-size: 2rem;
	font-weight: bold;
	letter-spacing: 0.6rem;
	text-transform: uppercase;
}

form input {
	max-width: 35px;
}

#attemptsDisplay {
	position: fixed;
	top: 20px;
	right: 10px;
}
